

/* FOR MODAL SLIDE */
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: none;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}


/*END OF MODAL SLIDE */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* set a default fon for all elements */
	padding-right: 0;
	/*font-family: 'Anton', sans-serif;*/
	font-family: 'Fjalla One', sans-serif;
}

/* LANDING PAGE CSS [ index.html ] */

#landing-background {
	background-image: url("../images/landing-page/bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mt-icon{
	/* border:1px solid red; */
	width: 150px;
	height: 100px;
}

.mt-icon-landing{
	/* border:1px solid red; */
	width: 250px;
	height: 250px;
	margin-top: 0;
	padding-top: 0;
}

.navbar-brand {
	padding: 0px;
	margin: 0px auto;
}

#index-jumbo-land hr {
	background-color: #fff;
}

#index-jumbo-land {
	background-color: #333;  /* #f9fce1  .... #ffebd3 */ 
	border-radius: 0;
	padding-top: 20%;
	background:none;
}

#index-jumbo-land h1, #index-jumbo-land p {
	color: #e5e5e5;
}

figcaption { 
	color: #e5e5e5;
 } 

p {
	font-family: 'Fjalla One', sans-serif;
}

.rounded {
	width: 100%;
	height: 170px;
	display: block;
}


.see-btn {
	margin-top: 7%;
}

.landing-header {
	animation-delay: 0.5s;
}
.landing1 {
	animation-delay: 0.5s;
}

.landing2 {
	animation-delay: 0.7s;
}
.landing3 {
	animation-delay: 0.9s;
}
.landing4 {
	animation-delay: 1.1s;
}
.landing5 {
	animation-delay: 1.3s;
}
.landing6 {
	animation-delay: 1.5s;
}
.landing7 {
	animation-delay: 1.7s;
}
.landing8{
	animation-delay: 1.9s;
}
.landing9 {
	animation-delay: 2.1s;
}
.landing10 {
	animation-delay: 2.3s;
}

/* END OF LANDING PAGE CSS [ index.html ] */

.main-nav-name {
	color: #e5e5e5;
}
/* START OF HOME PAGE CSS [ home.html ] */

.home-body {
	/*color:#f2f2f2;*/
	background: url("../images/camaro-page/bg1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#home-main-section {
	margin-top: 7%;
}

#home-main-row {
	/*border:1px solid white;*/

}

.home-car-picker {
	/*border: 1px solid white;*/
}

.first-car-button {
	background: none;
	border: none;
	color: #f2f2f2;
}

#show-camaro {
	text-decoration: none;
	color:#f2f2f2;
}

.first-car-button:hover > a >img {
	cursor: pointer;
	-webkit-filter: drop-shadow(2px 2px 0 red)
                  drop-shadow(-2px -2px 0 red);
  	filter: drop-shadow(2px 2px 0 #f2f2f2) 
          drop-shadow(-2px -2px 0 #f2f2f2);


}

.first-car-button:hover > a {
	font-size: 22px;
}

.card-link {
	/*background: none;*/
}

.card {
	background: none;
	border: 1px solid #f2f2f2;
	color: #f2f2f2;
	/*background-color: rgba(33,33,33,0.9);*/
	transition: 500ms ease;
}

.card:hover {
	background-color: rgba(33,33,33,0.9);
	transition: 500ms ease;
}

.card:focus i.fa-plus-circle {
	display: none;
}

.card-header {
	cursor: pointer;
	color:#f2f2f2;
	border-color: #f2f2f2;
}


.home-nav-bar {
	transition: 500ms ease;
	background: transparent !important;
}

.home-nav-bar.scrolled {
	background-color: rgba(33, 33, 33, 0.9) !important;
}

.carousel {
	height: 500px;
	/*border: 1px solid red;*/
}

.carousel-image {
	height:500px;
}

.camaro-semi-footer {
	margin-top: 20px;
	color: #f2f2f2;
	font-size: 34px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.camaro-footer {
	margin-top: 20px;
	color: #f2f2f2;
	font-size: 34px;
	
}

.camaro-footer-icons {
	margin-top: 20px;
	color: #f2f2f2;
	font-size: 24px;
}

.footer-icon-text {
	text-decoration: none;
	color: #f2f2f2;
	display: inline-block;
	transition: 500ms ease;
	font-size: 50px;
	letter-spacing: 0.2em;
}

.footer-icon-text:hover {
	color: #c1224f;
	display: inline-block;
	transition: 250ms ease;
	padding: 2px;

}

.left-right-border {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}

.mobile-car-picking {
	display: none;
	background: none;
}

.car-red-text {
	color: #c1224f;
	-webkit-text-stroke: 1px #f2f2f2;
}

hr {
	background-color: #f2f2f2;
}

/* END OF HOME PAGE CSS [ home.html ] */

/* -----------------------------------------------------------------*/


/* ABOUT CSS */

.about-body {
	/*color:#f2f2f2;*/
	background: url("../images/about-page/bg3.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#about-main-row .about-p {
	transition: 500ms ease;
	color:#f2f2f2;
	font-size: 19px;
	letter-spacing: 1px;
	/*background-color: rgba(33, 33, 33, 0.9);*/
}

#about-main-row:hover .about-p {
	transition: 500ms ease;
	color:#f2f2f2;
	background-color: rgba(33, 33, 33, 0.9);
}




.about-footer {
	margin-top: 20px;
	color: #f2f2f2;
	font-size: 24px;
}

.about-footer-icons {
	color: #f2f2f2;
	font-size: 24px;
}

.transparent-bg {
	background: transparent;
}

/*END Of ABOUT CSS*/


/* START OF CONTACT CSS */

.contact-body {
	/*color:#f2f2f2;*/
	background: url("../images/contact-page/bg2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-main-section {
	color: #f2f2f2;
	background-color: rgba(33, 33, 33, 0.8);
}

.google-maps {
	height: 30em;
	width: 100%;
}

.comment-area {
	height: 30em;
}

.car-icons-opacity {
	opacity: 0.5;
}

.car-icons-opacity:hover {
	opacity: 1;
}

.active-car-icon {
	opacity: 1;
}

/* END OF CONTACT CSS */

/* for mobile */
@media only screen and (max-width: 400px) {
	.mt-contact-icon {
		width: 100%;
		height: 100%;
		/*border: 1px solid red;*/
	}
	.left-right-border {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: none;
	border-right: none;
}
	.mt-icon-landing{
	/* border:1px solid red; */
		width: 200px;
		height: 200px;
		margin-top: 0;
		padding-top: 0;
	}
	#index-jumbo-land {
		margin-top: 25%;
	}
	#home-main-picture {
		/*background-color: hotpink;*/
		margin-top: 25%;
	}
	#about-main-row {
		margin-top: 35%;
		/*background-color: hotpink;*/
	}
	.home-nav-bar {
		transition: 500ms ease;
		background: transparent !important;
		background-color: rgba(33, 33, 33, 0.9) !important;
		margin-bottom: 10%;
	}
	.mobile-car-picking {
		display: block;
	}
	.modal-content {
		background-color: rgba(33, 33, 33, 0.4);
	}
	.modal-header {
		color: #f2f2f2;
		background: #333;
	}
	.close {
		color: #f2f2f2;
	}
	.desktop-car-picking {
		display:none;
	}
	.mobile-picking-button {
		display: block;
	    /*width: 40%;*/
	    position: fixed;
	    bottom: 40%;
	    right: 0;
	    /*left: 50%;*/
	    margin: 0 0 0 -20%;
	    z-index: 1;
	}

	.carousel-image {
		height: 250px;

	}
	.carousel {
		height: 250px;
				/*padding: 10%;*/
		margin: 10%;
	}

	.mobile-view-cars-text {
		word-break: break-all;
	  	line-height: 1;
	  	text-transform: uppercase;
	  	text-align: center;
	  	font-size: 20px;
	  	font-weight: bold;
	  	color: #eee;
	  	width: 0.6em;
	}
}

/* for tablets */
@media only screen and (min-width: 410px) and (max-width: 960px) {
	.mt-contact-icon {
		width: 100%;
		height: 100%;
		/*border: 1px solid red;*/
	}
	.left-right-border {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: none;
	border-right: none;
	}
	.mt-icon-landing{
	/* border:1px solid red; */
		/*width: 100%;*/
		/*height: 100%;*/
		margin: 0 auto;
		padding-top: 0;
	}
	#index-jumbo-land {
		margin-top: 20%;
	}
	#home-main-picture {
		/*background-color: hotpink;*/
		margin-top: 8%;
	}
	#about-main-row {
		margin-top: 18%;
		/*background-color: hotpink;*/
	}
	.home-nav-bar {
		transition: 500ms ease;
		background: transparent !important;
		background-color: rgba(33, 33, 33, 0.9) !important;
		margin-bottom: 10%;
	}
	.mobile-car-picking {
		display: block;
	}
	.modal-content {
		background-color: rgba(33, 33, 33, 0.4);
	}
	.modal-header {
		color: #f2f2f2;
		background: #333;
	}
	.close {
		color: #f2f2f2;
	}
	.desktop-car-picking {
		display:none;
	}
	.mobile-picking-button {
		display: block;
	    /*width: 40%;*/
	    position: fixed;
	    bottom: 40%;
	    right: 0;
	    /*left: 50%;*/
	    margin: 0 0 0 -20%;
	    z-index: 1;
	}

	.carousel-image {
		height: 250px;

	}
	.carousel {
		height: 250px;
				/*padding: 10%;*/
		margin: 10%;
	}

	.mobile-view-cars-text {
		word-break: break-all;
	  	line-height: 1;
	  	text-transform: uppercase;
	  	text-align: center;
	  	font-size: 20px;
	  	font-weight: bold;
	  	color: #eee;
	  	width: 0.6em;
	}
}

/* for desktop */
@media only screen and (min-width: 961px) {
	.desktop-car-picking {
		display: block;
	}
	.mobile-car-picking {
		display: none;
	}	
}